{% include 'partials/header.html' %}
<div class="container">
    <h1>Add Employee</h1>
    <hr>
    <form action="{% url 'add' %}" method="post" class="needs-validation">
        {% csrf_token %}

        <label for="name">Name</label><br/>
        <input type="text" name="name" placeholder="Full name" id="name" required>
        <br/>
        <label for="age">Age</label><br/>
        <input type="number" name="age" placeholder="00" id="age" required>
        <br/>
        <label for="email">Email</label><br/>
        <input type="text" name="email" placeholder="xyz@gmail.com" id="email" required>
        <br/>
        <label for="address">Address</label><br/>
        <input type="text" name="address" placeholder="address" id="address" required>
        <br/>
        <label for="position">Position</label><br/>
        <input type="text" name="position" placeholder="position" id="position" required>
        <br/>
        <label for="hireDate">Hire Date</label><br/>
        <input type="date" name="hireDate" id="hireDate">
        <br/>
        <br/>
        <input type="submit" value="Submit" class="btn btn-primary"/> &nbsp;<span><a href="/empls" class="btn btn-danger">Cancel</a></span>
        <br/>
        <br/>


    </form>
</div>
{% include 'partials/footer.html' %}