{% include 'partials/header.html' %}
<form action="{% url 'add' %}" method="post">
    {% csrf_token %}
    <label for="name">Name</label><br/>
    <input type="text" name="name" id="name"/>
    <br/>
    <label for="age">Age</label><br/>
    <input type="text" name="age" id="age"/>
    <br/>
    <label for="email">Email</label><br/>
    <input type="text" name="email" id="email"/>
    <br/>
    <label for="address">Address</label><br/>
    <input type="text" name="address" id="address"/>
    <br/>
    <br/>
    <input type="submit" value="Submit"/>
    <br/>
    <br/>
    <a href="/empls"><< Go back</a>

</form>

{% include 'partials/footer.html' %}