{% include 'partials/header.html' %}
<div class="container">
    <div class="card bg-dark" style="width: 40rem;">
        <div class="card-header">
            <h1 class="text-white text-center">{{employee.name}}</h1>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Age:</strong> {{employee.age}}</li>
            <li class="list-group-item"><strong>Email:</strong> {{employee.email}}</li>
            <li class="list-group-item"><strong>Address:</strong> {{employee.address}}</li>
            <li class="list-group-item"><strong>Position:</strong> {{employee.position}}</li>
            <li class="list-group-item"><strong>Hire date:</strong> {{employee.hireDate}}</li>
            <li class="list-group-item"><strong>Experience:</strong> {{employee.experience}}</li>
        </ul>
    </div>
    <br>
    <br>
    <a href="/empls" class="btn btn-primary"><< Go back</a>
</div>
{% include 'partials/footer.html' %}