{% include 'partials/header.html' %}
    <h1 class="container">Employees Dashboard</h1>
    <hr>
    <div class="container">
        <table class="table table-bordered">
            <thead class="table-secondary">
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Experience</th>
                </tr>
            </thead>
            {% for employee in employees %}
             <tr>
                 <td>
                     <a href="/empls/details/{{employee.id}}"> {{employee.name}} </a>
                 </td>
                 <td>
                     {{employee.position}}
                 </td>
                 <td>
                    {{employee.experience}}
                 </td>

             </tr>
            {% endfor %}
        </table>
        <a href="/empls/add" class="btn btn-primary">Add employee</a>
    </div>
{% include 'partials/footer.html' %}